<div *ngIf="publicacoesGrouped.length > 0" class="image-grid">
    <div *ngFor="let row of publicacoesGrouped" class="image-row" [ngClass]="{ 'single-item': row.length === 1 }">
        <div class="image-container" *ngFor="let p of row">
            <img [src]="p.imageLink" class="image-detail" />
            <div class="image-caption-container">
                
                <p class="image-caption">
                    <a href="/publicacoes/{{p.url}}">{{p.titulo}}</a>
                </p>

                <p class="image-subcaption">
                    Publicado há {{ p.tempoPublicadoEmDias }} na seção
                    <a href="/publicacoes/tipopublicacao/{{ p.tipoPublicacao }}">
                        {{ p.tipoPublicacao }}
                    </a>
                </p>

                <div class="tags-container">
                    <a class="tag-link" *ngFor="let tag of p.tags" [routerLink]="'/publicacoes/tags/' + tag">
                        {{ tag }}
                    </a>
                </div>           
            </div>
        </div>
    </div>
</div>

<div class="container text-center pt-5" *ngIf="show_nothing_here">
    <img src="/assets/img/nothinghere-removebg.png" alt="logo" />
    <h3>Nada por aqui ainda...</h3>
</div>