.image-row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap; /* Permite que o conteúdo se ajuste quando necessário */
}

.image-container {
    flex: 1;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.9;
}

.image-detail {
    width: 100%;
    height: auto;
}

/* Limitar o tamanho da imagem quando houver apenas um item */
.image-row.single-item .image-container {
    max-width: 600px; /* Tamanho máximo quando há um único item */
    margin-left: auto;
    margin-right: auto;
}

.image-caption-container {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10em;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.image-caption {
    font-family: 'RobotoCustom', Helvetica, sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.image-caption a {
    text-decoration: none;
    color: #fff;
}
.image-caption a:hover {
    color: #f3ef06;
}

.image-subcaption {
    font-family: 'NunitoCustom', Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.image-subcaption a {
    text-decoration: none;
    color: #f3ef06;
}

.tags-container {
    font-family: 'NunitoCustom', Helvetica, sans-serif;
    text-align: center;
}

.tag-link {
    text-decoration: none;
    color: #fff;
    margin-left: 0.25em;
    display: inline-block;
}

.tag-link:hover {
    color: #f3ef06;
}

/* Estilo para telas menores que 768px (mobile) */
@media (max-width: 768px) {
    .image-row {
        flex-direction: column;
        gap: 0.5em;
    }

    .image-caption-container {
        height: 12em;
        font-size: 14px;
    }
}
